body {
    background-color: #183153;
    color: rgba(245, 245, 245, 0.855);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

html {
    scroll-padding: 70px;
    scroll-behavior: smooth;
}

.aboutmeimg {
    height: 350px;
    width: 350px;
    object-fit: cover;
    object-position: top;
}

.container {
    width: 60%;
}

.carousel-caption, h5 p {
    text-shadow: 2px 2px 1px #000000;
}

a {
    text-decoration: none;
    color: rgb(140, 140, 255)    
}

a:hover {
    color: lightblue;
}

.habimg {
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: top;
}

i {
    font-size: 120px;
}

#my-socials a {
    color: rgba(245, 245, 245, 0.855);
}

#my-socials a:hover {
    color: lightblue;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
    }

    i {
        font-size: 70px;
    }

    .habimg {
        height: 150px;
        width: 150px;
    }
}